.options {
  display: flex;
  align-items: center;
  .option {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
    min-width: 120px;
  }
}
